
<div class="container" style="background-color: black;">
    <br>
    <br>
    <div class="w3-row">
      <div class="w3-col m2">
        <h1></h1>
      </div>
  
      <div class="w3-col m1">
        <h6 style="font-size: 12px; color: white;">Featured Programs</h6>
        <p style="font-size: 9px; color: white;">Fixed responsive issue</p>
        <p style="font-size: 9px; color: white;">New portfolio grid layout</p>
        <p style="font-size: 9px; color: white;">Tested & approved WP 3.6</p>
        <p style="font-size: 9px; color: white;">Fixed google map issue</p>
      </div>
  
      <div class="w3-col m1">
        <h1></h1>
      </div>
  
      <div class="w3-col m1">
        <h6 style="font-size: 12px; color: white;">Featured Programs</h6>
        <p style="font-size: 9px; color: white;">Fixed responsive issue</p>
        <p style="font-size: 9px; color: white;">New portfolio grid layout</p>
        <p style="font-size: 9px; color: white;">Tested & approved WP 3.6</p>
        <p style="font-size: 9px; color: white;">Fixed google map issue</p>
      </div>
  
      <div class="w3-col m1">
        <h1></h1>
      </div>
  
      <div class="w3-col m1">
        <h6 style="font-size: 12px; color: white;">Learning</h6>
        <p style="font-size: 9px; color: white;">Our Plans</p>
        <p style="font-size: 9px; color: white;">Free Trails</p>
        <p style="font-size: 9px; color: white;">Academic Solutions</p>
        <p style="font-size: 9px; color: white;">Business Solutions</p>
      </div>
      <div class="w3-col m1">
        <h1></h1>
      </div>
      <div class="w3-col m2">
        <h1 style="font-size: 12px; color: white;">Support Team</h1>
        <p style="font-size: 9px; color: white;">Write your email into below field and join our quick support forum</p>
        <div class="w3-row">
          <div class="w3-col m7">
            <input type="text" placeholder="Email address">
          </div>
          <div class="w3-col m5">
            <button class="btn btn-success" style="font-size: 12px; color: white;">Get HELP</button>
          </div>
        </div>
  
        <div class="w3-row">
          <div class="w3-col m3">
            <i class="bi bi-youtube"></i>
          </div>
          <div class="w3-col m3">
            <h1></h1>
          </div>
          <div class="w3-col m3">
            <h1></h1>
          </div>
          <div class="w3-col m3">
            <h1></h1>
          </div>
        </div>
      </div>
      <div class="w3-col m2">
        <h1></h1>
      </div>
    </div>
    <br>
    <br>
  </div>