
<div class="container" style="background-color: rgb(241, 241, 241);">
    <br>
    <div class="container" style="text-align: center;">
        <h1   style="color: #5ad4bc">Success Stories</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do</p>
    </div>
    <br>
    <div class="w3-row">
      <div class="w3-col m2">
        <h1></h1>
      </div>
      <div class="w3-card w3-col m3" style="background-color: white;">
        <img src="https://www.collinsdictionary.com/images/full/politician_254488354.jpg" style="width: 100%; height: 200px;">
        <h1 style="color: #5ad4bc; text-align: center;"> Lorem Ipsum</h1>
        <p style="padding: 5px; text-align: center;">Lorem ipsum dolor sit amet, consectur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices</p>
        <button class="w3-card btn btn-white" style="color: black; margin-left: 40%; margin-bottom: 10%; background-color: rgb(241, 241, 241);">read more</button>
      </div>
      <div class="w3-col m2">
        <h1></h1>
      </div>
      <div class="w3-card w3-col m3" style="background-color: white;">
        <img src="https://www.collinsdictionary.com/images/full/politician_254488354.jpg" style="width: 100%; height: 200px;">
        <h1 style="color: #5ad4bc; text-align: center;"> Lorem Ipsum</h1>
        <p style="padding: 5px; text-align: center;">Lorem ipsum dolor sit amet, consectur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices</p>
          <button class="w3-card btn btn-white" style="color: black; margin-left: 40%; margin-bottom: 10%; background-color: rgb(241, 241, 241);">read more</button>
      </div>
      <div class="w3-col m2">
        <h1></h1>
      </div>
      
    </div>
    <br>
    <br>
    <div class="container w3-hide-small">
        <button class="btn btn" style="margin-left: 40%; background-color: #5ad4bc; border-color: #5ad4bc; color: white;width: 250px;">Read more Stories</button>
    </div>
    <div class="container w3-hide-large w3-hide-medium">
      <button class="btn btn" style="margin-left: 13%; background-color: #5ad4bc; border-color: #5ad4bc; color: white;width: 250px;">Read more Stories</button>
  </div>
    <br>
    <br>

  </div>
  <br>
  <br>
