<style>
    .vl {
  border-left: 3px solid rgb(66, 66, 66);
  margin-top: 5px;
  height: 180px;
}
</style>
<br><br><br>
<div class="container w3-hide-small" style="height: 400px;">
    <div class="container" style="background-color:  white;height: 100px; border: white; padding: 3px;">
        <div class="w3-row" style="height: 200px; background-color: rgb(253, 253, 253);">
            <div class="w3-col m2" style="background-color: white;height: 200px; border: white;">
                <div class="w3-row" style="height: 100px; background-color: white;"></div>
                <div class="w3-row" style="height: 100px; background-color: rgb(145, 240, 211)"></div>
            </div>
            <div class="w3-col m8" style="background-color: rgb(241, 241, 241); height: 200px;">
                <div class="w3-row">
                    <div class="w3-col m3">
                       <p class="w3-jumbo"  style="margin-left: 40%; opacity: 3px;"> <i class="fa fa-home"  ></i></p>
                        
                        <br>
                        <h3 style="margin-left: 20%; color: rgb(110, 231, 181);">50000+</h3>
                    </div>
                    <div class="w3-col m1"> <div class="vl"></div></div>
                    <div class="w3-col m2">
                        <p class="w3-jumbo" > <i class="fa fa-home" ></i></p>
                       <br>
                        <h3 style="margin-left: 1%; color: rgb(110, 231, 181);"> 5 Lakhs +</h3>
                    </div>
                    <div class="w3-col m1"> <div class="vl"></div></div>

                    <div class="w3-col m2" >
                        <p class="w3-jumbo"  > <i class="fa fa-home"   ></i></p>
                        <br>

                        <h3 style="margin-left: 5%; color: rgb(110, 231, 181);">50000+</h3>
                    </div>
                    <div class="w3-col m1"> <div class="vl"></div></div>
                    <div class="w3-col m2">
                        <p class="w3-jumbo"  > <i class="fa fa-home"  ></i></p>
                        <br>
                        <h3 style="margin-left: 1%; color: rgb(110, 231, 181);"> 5 Lakhs +</h3>
                    </div>
                </div>
            </div>
            <div class="w3-col m2" style="background-color: white;height: 200px;">
                <div class="w3-row" style="height: 100px; background-color: white;"></div>
                <div class="w3-row" style="height: 100px; background-color: rgb(145, 240, 211)"></div>
            </div>
        </div>

    </div>
    <div class="container" style="background-color:  rgb(145, 240, 211);height: 200px; border: white; padding: 3px;">
    </div>
</div>