
<div class="container" style="background-color: rgb(245, 243, 245);">
    <br>
    <div class="container" style="text-align: center;">
        <h1   style="color: #5ad4bc">categories</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
    </div>
    <br>
    <div class="w3-row">
      <div class=" w3-col m2"> <h1></h1></div>
      <div class="w3-col m8" style="margin-right: 100px;">
  
        <carousel class= "w3-hide-large w3-hide-medium" 
        [cellsToShow]="2"
        [margin]="30"
        [arrowsOutside]="true" >
          <div class="carousel-cell" >
            <p class="w3-jumbo" > <i class="fa fa-home" ></i></p>
          </div>
          <div class="carousel-cell" >
            <img src="https://cdn.iconscout.com/icon/free/png-512/medical-127-129383.png" style="background-color: rgb(233, 229, 229);">
          </div>
          <div class="carousel-cell" >
            <img src="https://static.thenounproject.com/png/4403-200.png" style="background-color: rgb(233, 229, 229);">
          </div>
          <div class="carousel-cell"  >
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/cancer-ribbon-3048036-2535359.png" style="background-color: rgb(233, 229, 229);;">
          </div>
          <div class="carousel-cell" >
            <img src="https://cdn.iconscout.com/icon/free/png-512/medical-127-129383.png">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
        </carousel>

        <carousel class="w3-hide-large w3-hide-small" 
        [cellsToShow]="3"
        [margin]="30"
        [arrowsOutside]="true" >
          <div class="carousel-cell" >
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/cancer-ribbon-3048036-2535359.png" style="background-color: rgb(233, 229, 229);">
          </div>
          <div class="carousel-cell">
            <img src="https://cdn.iconscout.com/icon/free/png-512/medical-127-129383.png" style="background-color: rgb(233, 229, 229);">
          </div>
          <div class="carousel-cell">
            <img src="https://static.thenounproject.com/png/4403-200.png" style="background-color: rgb(233, 229, 229);">
          </div>
          <div class="carousel-cell">
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/cancer-ribbon-3048036-2535359.png" style="background-color: rgb(233, 229, 229);;">
          </div>
          <div class="carousel-cell">
            <img src="https://cdn.iconscout.com/icon/free/png-512/medical-127-129383.png">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
        </carousel>

        <carousel class="w3-hide-small w3-hide-medium" 
        [cellsToShow]="4" 
        [margin]="30"
        [arrowsOutside]="true">
          <div class="carousel-cell">
            <p class=" " style="font-size: 140px; background-color: rgb(235, 230, 229);" > <i class="fa fa-home" style="margin-left: 25px;" ></i></p>
          </div>
          <div class="carousel-cell">
            <p class=" " style="font-size: 140px; background-color: rgb(235, 230, 229);" > <i class="fa fa-home" style="margin-left: 25px;" ></i></p>
          </div>
          <div class="carousel-cell" >
            <p class=" " style="font-size: 140px; background-color: rgb(235, 230, 229);" > <i class="fa fa-home" style="margin-left: 25px;"></i></p>
          </div>
          <div class="carousel-cell">
            <p class=" " style="font-size: 140px; background-color: rgb(235, 230, 229);" > <i class="fa fa-home" style="margin-left: 25px;"></i></p>
          </div>
          <div class="carousel-cell">
            <img src="https://cdn.iconscout.com/icon/free/png-512/medical-127-129383.png">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
          <div class="carousel-cell">
            <img src="https://i.imgur.com/Tfj5BzOb.jpg">
          </div>
        </carousel>
      </div>
      <div class="w3-col m2"><h1></h1></div>
    </div>
    <br><br><br>
  </div>
  <br><br>